.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  color: var(--);
  border: none;
  transition: 0.4s ease-in-out;
  /* transition: 0.2s; */
  box-shadow: inset 0 0 5px var(--accent-dark);
}

.input__box:focus {
  box-shadow:
  0 0 10px 1000px var(--accent-unfocus);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: var(--main-bg-color);
  color: var(--font-color-light);
  transition: 0.2s all;
  box-shadow: 0 0 5px var(--accent-dark)

}

.input__submit:hover {
  background-color: var(--accent-light);
  color: var(--font-color-dark);
  box-shadow: 0 0 10px var(--main-bg-color)
}

.input__submit:active {
  transform: scale(0.9);
  box-shadow: 0 0 10px var(--accent-dark);
  font-size: 22px;
  letter-spacing: 1.4px;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url('../assets/bg-orange.jpg');
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}


@media (min-width: 800px) {
  .input, .todos {
    width: 90%;
  }
  
  .todos__single {
    width: 29%;
  }
}

@media (min-width: 1200px) {
  .todos__single {
    width: 40%;
    
  }
}

@media (min-width: 1800px) {
  .todos__single {
    width: 20%;
  }
}